* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: #cccccc88;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: +1;
}

.navbar_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 130px;
}

.navbar_content img{
    width: 100px;
}

.navbar_content ul{
    display: flex;
    list-style: none;
}

.navbar_content ul li {
    padding: 0px 20px;
    cursor: pointer;
}
.carrosselCs {
    filter: brightness(55%);
}
