.carrossel {
  filter: drop-shadow(0px 0px 10px #fff);
  overflow: hidden;
  width: 100%; /* Defina a largura para 100% */
  height: 100vh;
  display: flex;
  justify-content: center; /* Centralize horizontalmente */
  align-items: center; /* Centralize verticalmente */
  position: absolute;
}

.container {
  display: flex;
  width: 100%; /* Largura suficiente para conter todas as imagens */
  transition: transform 0.7s ease-in-out; /* Mudei a transição para ser aplicada apenas na propriedade transform */
}

img {
  margin-top: -100px;
  width: 100vw; 
  height: auto;
}

.showcase{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  filter: drop-shadow(0px 0px 10px #000000);
}

.showcase_content{
  text-align: center;
  line-height: 45px;
  color:#fff;
}

.showcase_content h1 {
  font-size: 35px;
  margin-bottom: -25px;
}

.showcase_content p {
  font-size: 17px;
}

.showcase_content button {
  padding: 0.8em 1.8em;
  border: 2px solid #c31717;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #c31717;
}

.showcase_content button::before{
  content: '';
 width: 0;
 height: 550%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #c31717;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.showcase_content button:hover::before {
  width: 105%;
 }

 .showcase_content button:hover {
  color: #111;
 }

